.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}




:root{
  --lightOrange: #FFD9D0;
  --DarkOrange: #3C1810;
  --Orange: #E87961;
  --Oranger: #D45A3F;
  --Orangelight: #FF9179;
  --OrangeGray: #EDB7AB;
  --redOrange: #771600;

}

html,body{
    margin: 0;
}

body{
  background-color: var(--lightOrange);
  background-image: url(https://raw.githubusercontent.com/Kenito12/PortfolioTemplate/1725b701ab2844ce0a4e68e41a70954f81136308/Assets/chang-pattern-Trans.svg);
  background-size: 10%;  
  animation: pan 120s linear infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.current{
  text-decoration: underline;
}

.defaultButton{
  min-width: 141px;
  min-height: 43px;
  border: transparent;
  border-radius: 5px;
  background-color: var(--Orangelight);
  color: var(--DarkOrange);
  font-size: 16px;
  transition: all ease-in-out 0.3s;
}
.defaultButton:hover{
  cursor: pointer;
  background-color: var(--DarkOrange);
  color: var(--Orangelight);
}


/* Project Display */
.projectWrapper{
  margin: 0 2rem;
  margin-bottom: 5.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.projectCard{
  margin: 0;
  max-width: 600px;
  width: inherit;
  >img{
    object-fit: contain;
    width: 100%;
  }
  >h2{
    font-size: clamp(1rem, 5vw, 2rem);
    color: var(--DarkOrange);
    margin-bottom: 0;
  }
  >hr{
    border: 1px solid var(--DarkOrange);
  }
  >div{
    color: var(--DarkOrange);
    display: flex;
    justify-content: space-between;
  }
}
/* Project Display End*/

/* Header*/
header{
  color: var(--Oranger);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  >nav>ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  >nav>ul>li{
    >a:link, a:visited{
      color: var(--Oranger);
      text-decoration: none;
    }
  }
}
#navSocial{
  display: none;
}
#exitBut{
  display: none;
}
#menuBut{
  display: none;
}
/* Header end */

/* Footer */
footer{
  margin-top: auto;
  width: 100vw;
  background-color: var(--Orange);
  display: flex;
  justify-content: space-between;
  >div{
    padding: 1.5rem 2rem;
  }
  >div>h2{
    font-size: 1rem;
    color: var(--OrangeGray);
  }
  >div>ul{
    display: flex;
    list-style: none;
    gap: 2rem ;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--lightOrange);
  }
  >div>ul>li{
    >a:link, a:visited{
      color: var(--lightOrange);
      text-decoration: none;
    }
  }
}
/* Footer End*/


/* home */
#homeContent{
  max-width: 515px;
  padding: 0 2rem;
  >h2{
    color: var(--Orange);
    /* + 1rem for accessibility when zoom  */
    font-size:clamp(2.2rem,10vw,4rem);
    margin-bottom: 0;
    margin-top: 0;
  }
  >h6{
    color: var(--DarkOrange);
    font-size: clamp(1rem,5vw,1rem);
    margin-top: 0;
  }
  >p{
    color: var(--redOrange);
    font-size: clamp(1.2rem,10vw,1.5rem);
    line-height: 2.2rem;
  }
  >button{
    margin: 2rem 0;
  }
}
/* home End*/

/* Animation */
@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
/* Animation End */


/* Mobile Phone Media Query */
@media (max-width: 768px){
  html{
    font-size: 13px;
  }
  body{
    background-size: 30%;
    animation: pan 60s linear infinite;
  }

  /* Mobile Header */
  header{
    /* Hide nav to create a hamburger */
    >nav{
      display: none;
    }
    >nav>ul{
      position: fixed;
      flex-direction: column;
      inset: 0;
      background-color: var(--lightOrange);
      color: var(--DarkOrange);
      font-weight: 700 !important;
      font-size: 2.8rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top:8rem;
    }
    >nav>ul>li{
      >a:link, a:visited{
        color: var(--DarkOrange);
      }
    }
  }
  #navSocial{
    margin-top: auto;
    margin-bottom: 9rem;
    display: block;
    >h2{
      font-size: 1.3rem;
      color: hsl(11 57 15 / 40%)
    }
    >hr{
      margin: 0 auto;
      border: 0.5px solid hsl(11 57 15 / 40%);
    }
    >ul{
      padding: 0;
      list-style: none;
      font-size: 1.3rem;
      display: flex;
      gap: 2rem;
      margin-top: 1rem;
    }
    >ul>li{
      >a:link, a:visited{
        color: var(--DarkOrange);
        text-decoration: none;
      }
    }
  }
  #exitBut{
    display: block;
    width: 1.7rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  #menuBut{
    display: block;
  }
  /* Mobile Header End*/

  /* Mobile Footer */
  footer{
    flex-direction: column;
    >div{
      padding: 2rem 2rem;
    }
  }
  /* Mobile Footer End*/


  .projectWrapper{
    grid-template-columns: auto;
  }
}
/* Mobile Phone Media Query End*/
