.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}




:root{
  --lightOrange: #FFD9D0;
  --DarkOrange: #3C1810;
  --Orange: #E87961;
  --Oranger: #D45A3F;
  --Orangelight: #FF9179;
  --OrangeGray: #EDB7AB;

}

html,body{
    margin: 0;
}

body{
  background-color: var(--lightOrange);
  background-image: url(https://raw.githubusercontent.com/Kenito12/PortfolioTemplate/1725b701ab2844ce0a4e68e41a70954f81136308/Assets/chang-pattern-Trans.svg);
  background-size: 10%;  
  animation: pan 120s linear infinite;
}

/* Header*/
header{
  color: var(--Oranger);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  >nav>ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
  }
}
#navSocial{
  display: none;
}
#exitBut{
  display: none;
}
#menuBut{
  display: none;
}
/* Header end */

/* Footer */
footer{
  width: 100vw;
  background-color: var(--Orange);
  display: flex;
  justify-content: space-between;
  >div{
    padding: 1.5rem 2rem;
  }
  >div>h2{
    font-size: 1rem;
    color: var(--OrangeGray);
  }
  >div>ul{
    display: flex;
    list-style: none;
    gap: 2rem ;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--lightOrange);
  }
}
/* Footer End*/

/* Animation */
@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
/* Animation End */


/* Mobile Phone Media Query */
@media (max-width: 768px){
  html{
    font-size: 13px;
  }
  body{
    background-size: 30%;
    animation: pan 60s linear infinite;
  }

  /* Mobile Header */
  header{
    /* Hide nav to create a hamburger */
    >nav{
      display: none;
    }
    >nav>ul{
      position: fixed;
      flex-direction: column;
      inset: 0;
      background-color: var(--lightOrange);
      color: var(--DarkOrange);
      font-weight: 700 !important;
      font-size: 2.8rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top:8rem;
    }
  }
  #navSocial{
    margin-top: auto;
    margin-bottom: 9rem;
    display: block;
    >h2{
      font-size: 1.3rem;
      color: hsl(11 57 15 / 40%)
    }
    >hr{
      margin: 0 auto;
      border: 0.5px solid hsl(11 57 15 / 40%);
    }
    >ul{
      padding: 0;
      list-style: none;
      font-size: 1.3rem;
      display: flex;
      gap: 2rem;
      margin-top: 1rem;
    }
  }
  #exitBut{
    display: block;
    width: 1.7rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  #menuBut{
    display: block;
  }
  /* Mobile Header End*/

  /* Mobile Footer */
  footer{
    flex-direction: column;
    >div{
      padding: 2rem 2rem;
    }
  }
  /* Mobile Footer End*/
}
/* Mobile Phone Media Query End*/
